# Web (mismo equipo que corre backend): http://localhost:3000/v1
# Android emulator: http://10.0.2.2:3000/v1
# Dispositivo fisico: http://<IP_DE_TU_PC>:3000/v1
EXPO_PUBLIC_API_URL=http://localhost:3000/v1
EXPO_PUBLIC_APP_ENV=development